@model IEnumerable<Video_Games_Rental.Models.status>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EntryLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.status1)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.status1)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.status_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.status_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.status_id })
            </td>
        </tr>
    }

</table>

<section>
    <div class="panel-menu text-center">

        <ul class="panel-list list-unstyled">
            <li class="panel-list-item">
                @Html.ActionLink("Orders", "../orders/Index", new { area = "" })
            </li>
            <li class="panel-list-item">
                @Html.ActionLink("Games", "../games/Index", new { area = "" })
            </li>
            <li class="panel-list-item">
                @Html.ActionLink("Genres", "../genres/Index", new { area = "" })
            </li>
            <li class="panel-list-item">
                @Html.ActionLink("Platforms", "../platforms/Index", new { area = "" })
            </li>
            <li class="panel-list-item">
                @Html.ActionLink("Languages", "../languages/Index", new { area = "" })
            </li>
            <li class="panel-list-item">
                @Html.ActionLink("Order details", "../order_detail/Index", new { area = "" })
            </li>
            <li class="panel-list-item">
                @Html.ActionLink("Order types", "../order_type/Index", new { area = "" })
            </li>
            <li class="panel-list-item">
                @Html.ActionLink("Users", "../AspNetUsers/Index", new { area = "" })
            </li>
            <li class="panel-list-item">
                @Html.ActionLink("Conditions", "../conditions/Index", new { area = "" })
            </li>
        </ul>

    </div>
</section>
