@using Video_Games_Rental.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SearchLayout.cshtml";
}

<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Witamy w świecie gier!</div>
            <div class="intro-heading text-uppercase">Wymieniaj • Kupuj • Rezerwuj</div>
            @Html.ActionLink("Strona Główna", "../Home/Index", "Home", new { area = "" }, new { @class = "btn btn-primary btn-xl text-uppercase js-scroll-trigger" })
        </div>
    </div>
</header>

<!-- Preloader Start -->
<div id="preloader">
    <div class="news-load"></div>
</div>

<div class="container">
    <div class="cart-card">
        <div class="container-fluid">
            @{
                foreach (var item in Model)
                {
                    <table class="table cart-table w-50 mt-3">
                        <tr class="title-row">
                            <td class="border-0 bg-secondary text-center">
                                <div class="py-1 text-uppercase">Dane użytkownika</div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col" class="border-0 bg-light">
                                <div class="py-1">Nazwa używtkownika</div>
                            </td>
                            <td class="border-0 bg-light text-center">
                                <div class="py-1">
                                    @item.AspNetUser.UserName
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col" class="border-0 bg-light">
                                <div class="py-1">Imię</div>
                            </td>
                            <td class="border-0 bg-light text-center">
                                <div class="py-1">
                                    @if (@item.name == null)
                                    {
                                        Console.Write("brak");
                                    }
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col" class="border-0 bg-light">
                                <div class="py-1">Nazwisko </div>
                            </td>
                            <td class="border-0 bg-light text-center">
                                <div class="py-1">
                                    @if (@item.surname == null)
                                    {
                                        Console.Write("brak");
                                    }
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col" class="border-0 bg-light">
                                <div class="py-1">E-mail</div>
                            </td>
                            <td class="border-0 bg-light text-center">
                                <div class="py-1 ">
                                    @item.AspNetUser.Email
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col" class="border-0 bg-light">
                                <div class="py-1">Nr Tel.</div>
                            </td>
                            <td class="border-0 bg-light text-center">
                                <div class="py-1">
                                    @if (@item.AspNetUser.PhoneNumber == null)
                                    {
                                        Console.Write("brak");
                                    }
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col" class="border-0 bg-light">
                                <div class="py-1">Adres</div>
                            </td>
                            <td class="border-0 bg-light text-center">
                                <div class="py-1">
                                    @if (@item.address_line1 == null)
                                    {
                                        Console.Write("brak");
                                    }
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col" class="border-0 bg-light">
                                <div class="py-1">Miejscowość</div>
                            </td>
                            <td class="border-0 bg-light text-center">
                                <div class="py-1">
                                    @if (@item.address_line2 == null)
                                    {
                                        Console.Write("brak");
                                    }
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col" class="border-0 bg-light">
                                <div class="py-1">Kod Pocztowy</div>
                            </td>
                            <td class="border-0 bg-light text-center">
                                <div class="py-1">
                                    @if (@item.postal_code == null)
                                    {
                                        Console.Write("brak");
                                    }
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div class="py-1">
                                    <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Zastosuj</button>
                                </div>
                            </td>
                            <td colspan="3">
                                <div class="py-1">
                                    @Html.ActionLink("Przejdź do konta", "User_details", "Account", new { area = "" }, new { @class = "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" })
                                </div>
                            </td>
                        </tr>
                    </table>
                            }
                        }

                    @using (Html.BeginForm("Account_info", "Account", FormMethod.Post, new { id = "user-form" }))
                    {

                    <table class="table cart-table w-50 mt-3">
                        <tr class="title-row">
                            <td class="border-0 bg-secondary text-center">
                                <div class="py-1 text-uppercase">Dane użytkownika</div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col" class="border-0 bg-light">
                                <div class="py-1">Nazwa używtkownika</div>
                            </td>
                            <td class="border-0 bg-light text-center">
                                <div class="py-1">
                                    <input type="text" name="Username" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col" class="border-0 bg-light">
                                <div class="py-1">Imię</div>
                            </td>
                            <td class="border-0 bg-light text-center">
                                <div class="py-1">
                                    <input type="text" name="userName" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col" class="border-0 bg-light">
                                <div class="py-1">Nazwisko </div>
                            </td>
                            <td class="border-0 bg-light text-center">
                                <div class="py-1">
                                    <input type="text" name="userSurname" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col" class="border-0 bg-light">
                                <div class="py-1">E-mail</div>
                            </td>
                            <td class="border-0 bg-light text-center">
                                <div class="py-1 ">
                                    <input type="text" name="userMail" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col" class="border-0 bg-light">
                                <div class="py-1">Nr Tel.</div>
                            </td>
                            <td class="border-0 bg-light text-center">
                                <div class="py-1">
                                    <input type="text" name="userPhone" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col" class="border-0 bg-light">
                                <div class="py-1">Adres</div>
                            </td>
                            <td class="border-0 bg-light text-center">
                                <div class="py-1">
                                    <input type="text" name="userAddress1" placeholder="Adres - 1. wiersz" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col" class="border-0 bg-light">
                                <div class="py-1">Miejscowość</div>
                            </td>
                            <td class="border-0 bg-light text-center">
                                <div class="py-1">
                                    <input type="text" name="userAddress2" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col" class="border-0 bg-light">
                                <div class="py-1">Kod Pocztowy</div>
                            </td>
                            <td class="border-0 bg-light text-center">
                                <div class="py-1">
                                    <input type="text" name="userPostal" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div class="py-1">
                                    <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Zastosuj</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                    }
            
                    <script type="text/javascript">
                        $("#user-form").validate({
                            rules: {
                                userName: {
                                    required: true
                                },
                                userSurname: {
                                    required: true
                                },
                                userMail: {
                                    required: true
                                },
                                userAddress1: {
                                    required: true
                                },
                                userAddress2: {
                                    required: true
                                },
                                userPostal: {
                                    required: true
                                },
                            }
                        });
                    </script>
        </div>
    </div>
</div>