@using Video_Games_Rental.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SearchLayout.cshtml";
}

<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Witamy w świecie gier!</div>
            <div class="intro-heading text-uppercase">Wymieniaj • Kupuj • Rezerwuj</div>
            @Html.ActionLink("Wróć do sklepu", "../Shop", "Shop", new { area = "" }, new { @class = "btn btn-primary btn-xl text-uppercase js-scroll-trigger" })
        </div>
    </div>
</header>

<!-- Preloader Start -->
<div id="preloader">
    <div class="news-load"></div>
</div>

<h2>KOSZYK</h2>

@*<table border="1">
    <tr>
        <th>Nazwa</th>
        <th>Cena</th>
        <th>Ilość</th>
        <th>Cena razem</th>
    </tr>

    @foreach (var cart in (List<Cart>)Session["Cart"])
    {
        <tr>
            <td>@cart.Product.title</td>
            <td>@cart.Product.price</td>
            <td>@cart.Quantity</td>
            <td>@(String.Format("{0:N0}", cart.Product.price * cart.Quantity))</td>
            <td>
                @Html.ActionLink("Delete", "Delete", "ShoppingCart", new { id = cart.Product.game_id }, new { onclick = "return confirm ('Na pewno chcesz usunąć ten produkt?');" })
            </td>
        </tr>
    }

        <tr>
            <td colspan="3">Suma</td>
            <td>
                @{ 
                    List<Cart> temp = (List<Cart>)Session["Cart"];
                    var total = string.Format("{0:N0}", temp.Sum(x=>x.Quantity * x.Product.price));
                }

                @total zł
            </td>
        </tr>
</table>*@

<div class="container">
    <div class="cart-card">
        <div class="container-fliud">
            <div class="row">
                <div class="col-6">
                    <h3>KOSZYK</h3>
                </div>
            </div>
            <div class="dropdown-divider"></div>
            <div class="row">
                <ul class="shoppingcart-list">
                    <li class="shoppingcart-list-item">Nazwa</li>
                    <li class="shoppingcart-list-item">Cena</li>
                    <li class="shoppingcart-list-item">Ilosc</li>
                    <li class="shoppingcart-list-item">Cena razem</li>
                </ul>
            </div>
            <div class="dropdown-divider"></div>
            <div class="row">
                @foreach (var cart in (List<Cart>)Session["Cart"])
                {
                    <ul class="shoppingcart-list">
                        <li class="shoppingcart-list-item">@cart.Product.title</li>
                        <li class="shoppingcart-list-item">@cart.Product.price zł</li>
                        <li class="shoppingcart-list-item">@cart.Quantity</li>
                        <li class="shoppingcart-list-item">@(String.Format("{0:N0}", cart.Product.price * cart.Quantity)) zł</li>
                        <li class="shoppingcart-list-item">@Html.ActionLink("Delete", "Delete", "ShoppingCart", new { id = cart.Product.game_id }, new { onclick = "return confirm ('Na pewno chcesz usunąć ten produkt?');" })</li>
                        @*<li class="shoppingcart-list-item">
                            <a href="@Url.Action("Delete", "ShoppingCart", new { id = cart.Product.game_id }, new { onclick = "return confirm ('Na pewno chcesz usunąć ten produkt?');" })">
                                <i class="fa fa-heart"></i>
                            </a>
                        </li>*@
                    </ul>
                }
                </div>
            <div class="row">
                <ul>
                    <li>
                        @{
                            List<Cart> temp = (List<Cart>)Session["Cart"];
                            var total = string.Format("{0:N0}", temp.Sum(x => x.Quantity * x.Product.price));
                        }

                        @total zł
                    </li>
                </ul>
            </div>
            @Html.ActionLink("Kontynuuj zakupy", "../Shop", "Shop", new { @class = "btn btn-continue-shopping btn-default mt-2" })
        </div>
    </div>
</div>
