@model IEnumerable<Video_Games_Rental.Models.game>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EntryLayout.cshtml";
}

<h2>Index</h2>
@if ((string)Session["myRole"] == "admin")
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Tytuł
            </th>
            <th>
                Dostępna ilość
            </th>
            <th>
                Cena
            </th>
            <th>
               Zdjęcie
            </th>
            <th>
                Opis
            </th>
            <th>
                Stan
            </th>
            <th>
                Gatunek
            </th>
            <th>
                Wersja językowa
            </th>
            <th>
                Platforma
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.condition.condition1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.genre.genre1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.language.language1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.platform.platform1)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.game_id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.game_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.game_id })
                </td>
            </tr>
        }

    </table>

    <section>
        <div class="panel-menu text-center">

            <ul class="panel-list list-unstyled">
                <li class="panel-list-item">
                    @Html.ActionLink("Status", "../status/Index", new { area = "" })
                </li>
                <li class="panel-list-item">
                    @Html.ActionLink("Genres", "../genres/Index", new { area = "" })
                </li>
                <li class="panel-list-item">
                    @Html.ActionLink("Customers", "../customers/Index", new { area = "" })
                </li>
                <li class="panel-list-item">
                    @Html.ActionLink("Platforms", "../platforms/Index", new { area = "" })
                </li>
                <li class="panel-list-item">
                    @Html.ActionLink("Conditions", "../conditions/Index", new { area = "" })
                </li>
                <li class="panel-list-item">
                    @Html.ActionLink("Languages", "../languages/Index", new { area = "" })
                </li>
                <li class="panel-list-item">
                    @Html.ActionLink("Orders", "../orders/Index", new { area = "" })
                </li>
                <li class="panel-list-item">
                    @Html.ActionLink("Order details", "../order_detail/Index", new { area = "" })
                </li>
                <li class="panel-list-item">
                    @Html.ActionLink("Order types", "../order_type/Index", new { area = "" })
                </li>
                <li class="panel-list-item">
                    @Html.ActionLink("Users", "../AspNetUsers/Index", new { area = "" })
                </li>
                <li class="panel-list-item">
                    @Html.ActionLink("Requests", "../requests/Index", new { area = "" })
                </li>
                <li class="panel-list-item">
                    @Html.ActionLink("Waitings", "../waitings/Index", new { area = "" })
                </li>
                <li class="panel-list-item mt-5">
                    @Html.ActionLink("Wróć do strony głównej", "../Home/Index", new { area = "" })
                </li>
            </ul>

        </div>
    </section>
}