@using Video_Games_Rental.Models;
@using ASPNetIdentity;
@model Video_Games_Rental.Models.waiting
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_BackToMainLayout.cshtml";

}

    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Witamy w świecie gier!</div>
                <div class="intro-heading text-uppercase">Wymieniaj • Kupuj • Rezerwuj</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#AddProduct">Przejdź do formularza</a>
            </div>
        </div>
    </header>

    <div id="preloader">
        <div class="news-load"></div>
    </div>

    <!-- ADD PRODUCT -->
    <section class="page-section bg-dark" id="AddProduct">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Sprzedaj lub wypożycz swoje gry!</h2>
                    <h3 class="section-subheading text-muted">Prosimy wypełnić poniższe pola.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <form id="contactForm" name="sentMessage" novalidate="novalidate">
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-6">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.title, "Tytuł", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.platform_id, "Platform", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownList("platform_id", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.platform_id, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.langugae_id, "Język", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownList("langugae_id", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.langugae_id, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.condiiton_id, "Stan", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownList("condiiton_id", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.condiiton_id, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.genre_id, "Gatunek", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownList("genre_id", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.genre_id, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.price, "Cena", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })                                           
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="col-md-5 mt-4">
                                    <img class="img-thumbnail" src="~/Content/img/register.jpg" alt="Rezerwacja">
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-lg-12 text-center">
                                    <div id="success"></div>
                                    <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase mt-3" type="submit">Dodaj gre</button>
                                </div>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- Placeholder in select -->
    <script type="text/javascript">function changeMe(sel) { sel.style.color = "#555555"; }</script>