@model Video_Games_Rental.Models.waiting

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_EntryLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>waiting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.condition.condition1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.condition.condition1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.AspNetUsers_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.AspNetUsers_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genre.genre1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genre.genre1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.language.language1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.language.language1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.platform.platform1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.platform.platform1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
