@model Video_Games_Rental.Models.request

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_EntryLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.e_mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.e_mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.request1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.request1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phonenumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phonenumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.request_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
